extends ../layouts/common

block content
	h1 Login
	if errors
		each error in errors
			.alert.alert-danger= error
	form(action="/auth/login",method="POST")
		.form-group
			label(for="email") Email
			input#email.form-control(name="email",type="text", value=values ? values.email : "")
		.form-group
			label(for="password") Password
			input#password.form-control(name="password",type="password", value=values ? values.password : "")

		button.btn.btn-primary Login